<!-- <h2>Nuevo producto</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">

  <div>
    <label>Nombre</label><br>
    <input type="text" formControlName="nombre">
  </div>

  <div>
    <label>Precio</label><br>
    <input type="number" formControlName="precio">
  </div>

  <div>
    <label>Stock</label><br>
    <input type="number" formControlName="stock">
  </div>

  <div>
  <label>Descripción</label><br>
  <input type="text" formControlName="descripcion">
</div>

<div>
  <label>Categoría</label><br>
  <input type="text" formControlName="categoria">
</div>

<div>
  <label>Activo</label>
  <input type="checkbox" formControlName="activo">
</div>

  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
    Guardar
  </button>
</form>

<div *ngIf="mensaje" style="color:green; margin-top:10px">
  {{ mensaje }}
</div>

<div *ngIf="error" style="color:red; margin-top:10px">
  {{ error }}
</div>

<h3>Reporte de productos (PDF)</h3>

<label>Categoría</label><br>
<input type="text" [(ngModel)]="categoriaReporte" placeholder="Ropa">

<br><br>
<button (click)="generarPDF()">Generar PDF</button>

<br><br> -->


<div class="card shadow-sm">

  <div class="card-header bg-primary text-white">
    <strong>Nuevo Producto</strong>
  </div>

  <div class="card-body">

    <form [formGroup]="form" (ngSubmit)="guardar()">

      <div class="row">

        <div class="col-md-4 mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre">
        </div>

        <div class="col-md-4 mb-3">
          <label class="form-label">Precio</label>
          <input type="number" class="form-control" formControlName="precio">
        </div>

        <div class="col-md-4 mb-3">
          <label class="form-label">Stock</label>
          <input type="number" class="form-control" formControlName="stock">
        </div>

      </div>

      <button class="btn btn-success">
        Guardar
      </button>

    </form>

    <!-- MENSAJES -->
    <div *ngIf="mensaje" class="alert alert-success mt-3">
      {{ mensaje }}
    </div>

    <div *ngIf="error" class="alert alert-danger mt-3">
      {{ error }}
    </div>

  </div>
</div>
